<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
        crossorigin="anonymous"/>
        <link rel="icon" href="images/aulogo.jpg">
        <link rel="stylesheet" href="css/imagehover.min.css">
        <title>Alameda Uprising</title>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top navbar-custom">
            <button class="navbar-toggler navbar-toggler-right" type="button" 
            data-toggle="collapse" data-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" 
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <h3>ALAMEDA UPRISING</h3>
                <!--<img class="logo" src="images/aulogo.jpg" />-->
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#schedule">
                            Schedule    
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#announcements">
                            Announcements   
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#roster">
                            Roster  
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">
                            Contact 
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {{{body}}}
        <footer id="contact" class="footer text-center">
            <div class="text-center footer-text">
                <a href="https://www.instagram.com/alamedauprising/?hl=en" target="_blank">
                    <img id="iglogo" src="images/iglogo.png">
                </a>
                <h5 class="contactinfo">AlamedaUprising@gmail.com</h5>
                <h5 class="contactinfo">(510) 747-8767</h5>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" 
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" 
        crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" 
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" 
        crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" 
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" 
        crossorigin="anonymous">
        </script>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
  </body>
</html>
