<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link href="/css/mdb.min.css" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="icon" type="image/jpg" href="images/aulogo.jpg">

        <title>Alameda Uprising</title>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar navbar-custom">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {{#if user}}
                <a class="navbar-brand" href="/ausite_admin/dashboard">
                    <strong>Alameda Uprising Admin</strong>
                </a>
                {{else}}
                <a class="navbar-brand" href="/">
                    <strong>Alameda Uprising</strong>
                </a>
                {{/if}}
                <div class="collapse navbar-collapse" id="navbarNav1">
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        {{#if user}}
                        <li class="nav-item">
                            <a href="/ausite_admin/dashboard" class="nav-link">Dashboard <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/ausite_admin/logout" class="nav-link">Logout <span class="sr-only">(current)</span></a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a href="#home" class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#schedule" class="nav-link">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a href="#news" class="nav-link">News</a>
                        </li>
                        <li class="nav-item">
                            <a href="#gallery" class="nav-link">Roster</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
        
        {{{body}}}

        <!--Footer-->
        <footer class="page-footer center-on-small-only">

            <hr>

            <!--Footer Links-->
            <div class="container-fluid">

                    <hr class="hidden-md-up">

                    <!--column-->
                    <div class="text-center" id="contact">
                        <h5 class="title">Follow us on</h5>
                        <ul>
                            <!--Instagram-->
                            <li><a target="_blank" href="https://www.instagram.com/alamedauprising/">
                            <button type="button" class="btn btn-ins"><i class="fa fa-instagram left">
                                </i> Instagram</button></a></li>
                            <!--Facebook-->
                            <li><a target="_blank" href="https://www.facebook.com/Alameda-Uprising-455857958111734/">
                            <button type="button" class="btn btn-fb"><i class="fa fa-facebook left">
                                </i> Facebook</button></a></li>
                            <!--Twitter-->
                            <li><a target="_blank" href="https://twitter.com/AlamedaUprising">
                            <button type="button" class="btn btn-tw"><i class="fa fa-twitter left">
                                </i> Twitter</button></a></li>
                        </ul>
                        <h5>Contact Info</h4>
                        <h6 class="contactinfo">ALAMEDAUPRISING@GMAIL.COM</h6>
                        <h6 class="contactinfo">(510) 747 - 8767</h6>
                    </div>
                    <!--column-->

            </div>

            <hr>

            <div class="footer-copyright">
                <div class="container-fluid">
                    Made by: <a href=""> Earl Perez </a>
                </div>
            </div>

        </footer>
        <!--/.Footer-->
        
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="/js/tether.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="/js/mdb.min.js"></script>

        <!-- Gallery lightbox 
        <script src="js/js/lightbox.js"></script>-->

        <link href="/css/style.css" rel="stylesheet" type="text/css">
  </body>
</html>
