html,
body{
  height: 100%;
}

main {
  padding-top: 3rem;
  background-color: #333;
}

.extra-margins {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.jumbotron {
  text-align: center;
}

/* Index content */

.content {
  margin-bottom: 20px;
}

/* Navigation*/
        
.navbar {
  background-color: transparent;
}

/*.navbar-custom .navbar-brand > strong,
.navbar-custom .navbar-collapse .navbar-nav .nav-item {
  color: #00E0FF;
}*/
        
.top-nav-collapse {
  background-color: #F300EB;
}
        
footer.page-footer {
  background-color: #00F1EA;
  margin: 0;
}

.contactinfo {
  color: #222;
}

/* solid navbar on mobile */   
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(255, 92, 231, 0.9);
  }
}


/* navbar color transition */
.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* index page image*/
.view-index {
    background: url("../images/coketourny/coketourny1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45%;
}

.view-articles {
    background: url("../images/coketourny/coketourny9.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45%;
}

.view-admin {
    background: url("../images/coketourny/coketourny11.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30%;
}

.carousel-sched {
  height: 20%;
}

.pinktext {
  color: #FF5CE7;
}

@media (max-width: 776px) {
  .view-index,
  .view-articles {
    height: 100%;
    /*background image fix for iphone */
    background-attachment: scroll;
    max-width: 100%;
  }
}

@media (max-width: 776px) {
  .article-page,
  .view-admin {
    height: 50%;
    /*background image fix for iphone */
    background-attachment: scroll;
    max-width: 100%;
  }
}
        
/*Caption*/
        
.flex-center {
  color: #fff;
}

/*Buttons*/

.btn-info {
  background-color: #00E0FF;
}

.btn-ins {
  background-color: #007397;
}

.btn-fb {
  background-color: #006AB8;
}

.btn-tw {
  background-color: #00C2FF;
}

/*Buttons*/

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #787878;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #787878;
}

/* Sign-in form */

.signin-page {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Register form */

.page-header {
  padding-top: 100px;
}

/* Textarea */

textarea, .editable {
  width: 100%;
  height: 300px;
}

.overview {
  height: 100px;
}