html,
body {
  height: 100%;
  background-color: #EEE;
}
/* Navigation*/
        
.navbar {
  background-color: transparent;
}

/*.navbar-custom .navbar-brand > strong,
.navbar-custom .navbar-collapse .navbar-nav .nav-item {
  color: #00E0FF;
}*/
        
.top-nav-collapse {
  background-color: #FF5CE7;
}
        
footer.page-footer {
  background-color: #FF5CE7;
}

/*solid navbar on mobile      
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(255, 92, 231, 0.9);
  }
}
*/
        
.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
/* Carousel*/

.pinktext {
  color: #FF5CE7;
}

.carousel {
  height: 50%;
}
        
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}
        
.carousel-item,
  .active {
    height: 100%;
}
        
.carousel-inner {
  height: 100%;
}
        
/*Caption*/
        
.flex-center {
  color: #fff;
}

/*Buttons*/

.btn-info {
  background-color: #00E0FF;
}

.btn-ins {
  background-color: #007397;
}

.btn-fb {
  background-color: #006AB8;
}

.btn-tw {
  background-color: #00C2FF;
}

/*Buttons*/

/*Roster*/

.badge-pill {
  background-color: #00E0FF;
}

/*Roster*/

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #00E0FF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #00E0FF;
}

/* Gallery */

.hide {
  display: none;
}

/* Gallery */