html,
body {
  height: 100%;
  background-color: #FFF;
}

 main {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #a6a6a6;
}

.admin-jumbo {
  margin-top: 50px;
}

.extra-margins {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.jumbotron {
  text-align: center;
}

/* Index content */

.content {
  margin-bottom: 20px;
}

/* Navigation*/
        
.navbar {
  background-color: transparent;
}

/*.navbar-custom .navbar-brand > strong,
.navbar-custom .navbar-collapse .navbar-nav .nav-item {
  color: #00E0FF;
}*/
        
.top-nav-collapse {
  background-color: #FF5CE7;
}
        
footer.page-footer {
  background-color: #FF5CE7;
  margin: 0;
}

/*solid navbar on mobile      
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(255, 92, 231, 0.9);
  }
}
*/
        
.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
/* Carousel*/

.pinktext {
  color: #FF5CE7;
}

.carousel {
  height: 50%;
}
        
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}
        
.carousel-item,
  .active {
    height: 100%;
}
        
.carousel-inner {
  height: 100%;
}
        
/*Caption*/
        
.flex-center {
  color: #fff;
}

/*Buttons*/

.btn-info {
  background-color: #00E0FF;
}

.btn-ins {
  background-color: #007397;
}

.btn-fb {
  background-color: #006AB8;
}

.btn-tw {
  background-color: #00C2FF;
}

/*Buttons*/

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #00FDFF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #00FDFF;
}

/* Sign-in form */

.signin-page {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Register form */

.page-header {
  padding-top: 100px;
}

/* Textarea */

textarea {
  width: 200px;
  height: 300px;
}